# Ignore LaTeX build files
*.out
*.log
*.aux
*.toc

# Ignore Obsidian and Jupyter Notebook folders
.ipynb_checkpoints/
_minted-Exercises/
__pycache__/

# Ignore files I don't have copyright for
Blitzstein-Probability/ProbBook.pdf
Dive-into-Deep-Learning/d2l-en.pdf
Wasserman-Statistics/StatBook.pdf
