# Ignore LaTeX build files
*.out
*.log
*.aux
*.toc

# Ignore VS Code files
**/.vscode/

# Ignore Rust Build files
**/target/
*.lock

# Ignore Jupyter Notebook folders
**/.ipynb_checkpoints/
**/_minted-Exercises/
**/__pycache__/

# Things like API keys will be stored in `secret` files
**/secret

# Ignore files I don't have copyright for
Books-Courses-Exercises/Blitzstein-Probability/ProbBook.pdf

Books-Courses-Exercises/Dive-into-Deep-Learning/d2l-en.pdf

Books-Courses-Exercises/Wasserman-Statistics/StatBook.pdf
Books-Courses-Exercises/Wasserman-Statistics/Data/

Books-Courses-Exercises/Stochastic-Calculus-For-Finance/StochCalc1.djvu
Books-Courses-Exercises/Stochastic-Calculus-For-Finance/StochCalc2.djvu

Books-Courses-Exercises/zero2prod/zero2prod.pdf

Books-Courses-Exercises/Lets-Get-Rusty-Cheatsheet/Lets-Get-Rusty-Cheatsheet.pdf

Books-Courses-Exercises/The-Rust-Programming-Language/The-Rust-Programming-Language.pdf

Books-Courses-Exercises/The-Rustinomicon/The-Rustinomicon.pdf

Books-Courses-Exercises/Too-Many-Lists/too-many-lists.pdf
