# Ignore LaTeX build files
*.out
*.log
*.aux
*.toc

# Ignore Jupyter Notebook folders
.ipynb_checkpoints/
_minted-Exercises/
__pycache__/

# Ignore files I don't have copyright for
Books and CoursesBlitzstein-Probability/ProbBook.pdf
Books and CoursesDive-into-Deep-Learning/d2l-en.pdf
Books and CoursesWasserman-Statistics/StatBook.pdf
Books and CoursesWasserman-Statistics/Data/
